{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="mb-5">Edit User</h1>

    <div class="container">
    <div class="row">
        <div class="col-3">
            {% if user.image %}
                {% if user.image starts with 'http' %}
                    <img src="{{ user.image }}" class="img-fluid rounded-circle" />
                {% else %}
                    <img src="/assets/uploads/user_profile/{{ user.image }}" class="img-fluid rounded-circle" />
                {% endif %}
            {% else %}
                <img src="/assets/img/user.png" class="img-fluid rounded-circle" />
            {% endif %}
        </div>
        <div class="col-9">
    		{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    	</div>

    	{{ include('user/_delete_form.html.twig') }}
   	</div>
</div>
{% endblock %}
