{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Create new Location</h1>

<div class="container">


    {{ include('location/_form.html.twig') }}

    <a href="{{ path('location_index') }}">Back to list</a>

    <script type="text/javascript">
    	$('#location_vehicule').on('change', function() {
    		$('#location_contrat').empty()
    		$.ajax({
		        url: '/contrat/vehicule/' + this.value,
		        data: {
	                typeVehicule: $("#location_vehicule").val()
	            },
            	dataType: 'json',
		        type: 'post',
		        success: function(data){
	                $.each(data, function (key, value) {
	                    $("#location_contrat").append('<option value="' + Object.keys(value)[0] + '">' + Object.values(value)[0] + '</option>')
	                })
		        },
		        error: function(){
    				console.log('Erreur AJAX #location_vehicule')             
		        }
		    })
    	})
    </script>
</div>
{% endblock %}
