{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1>Oups... Vous n'avez pas les accès pour acceder à cette page.</h1>

    <div class="container">
    	<a href="{{ path('app_home') }}">Home</a>
    </div>
{% endblock %}
